In [1]:
#data source https://www.kaggle.com/c/house-prices-advanced-regression-techniques/data
TRAIN_DATA = "../data/external/train.csv"
TEST_DATA = "../data/external/test.csv"

#Target column in the data. 
TARGET = "SalePrice"

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#display all dataframe columns
pd.options.display.max_columns = None

In [3]:
train = pd.read_csv(TRAIN_DATA)

In [4]:
train.drop('Id', axis=1, inplace=True)

### Variable Types

In [5]:
tmp = train.dtypes
vars_cat = tmp[tmp == 'O'].index.tolist()
vars_num = [col for col in tmp.index if col not in vars_cat and col!= "SalePrice"]
vars_num.remove('MoSold')
vars_num.remove('MSSubClass')
vars_cat.extend(['MoSold', 'MSSubClass'])

vars_year = [var for var in train.columns if 'Yr' in var or 'Year' in var]
#vars_num = [var for var in vars_num if var not in vars_year]

print(len(vars_year))
print(len(vars_num))
print(len(vars_cat))

4
34
45

### Year Variables

In [6]:
# modify year variables.
def modify_year_vars(df, var, var_ref="YrSold"):
    tmp = df[var_ref] - df[var] 
    return tmp

In [7]:
var_ref = 'YrSold'
for var in vars_year:
    if var != var_ref:
        train[var] = modify_year_vars(train, var)
        
train[vars_year].head()

   YearBuilt  YearRemodAdd  GarageYrBlt  YrSold
0          5             5          5.0    2008
1         31            31         31.0    2007
2          7             6          7.0    2008
3         91            36          8.0    2006
4          8             8          8.0    2008

### Numerical Variables

In [8]:
#numerical varialbes with missing values
# percentage of missing values
tmp = train[vars_num].isnull().mean().sort_values(ascending=False)
tmp[tmp>0]

LotFrontage    0.177397
GarageYrBlt    0.055479
MasVnrArea     0.005479
dtype: float64

In [9]:
tmp = train[vars_num].isnull().mean().sort_values(ascending=False)
vars_num_missing = tmp[tmp>0].index.tolist()

for var in vars_num_missing:
    tmp = np.where(train[var].isna(), 1, 0)
    train[var + '_na'] = tmp
    
    mean = train[var].mean()
    train[var] = train[var].fillna(mean)

In [10]:
for var in vars_num_missing:
    print(var + "_na", round(train[var + '_na'].mean(), 6))

LotFrontage_na 0.177397
GarageYrBlt_na 0.055479
MasVnrArea_na 0.005479

In [11]:
#checking for missing values in numerical variables
tmp = train[vars_num].isnull().mean()
tmp[tmp>0]

Series([], dtype: float64)

##### To do

1. Cat - by "Missing"
       - fill with most frequent (mode)
2. Num - new feature indicating missing
       - fill with mean
3. Time - 
4. Num - transform
5. Cat - map
6. Rare labels
7. Encode cat variables
8. Target - log
9. drop Id, year_sold
10. Scale (min max)
11. save